@import '../styles/variables';

.post {
  &:not(:first-of-type) {
    margin: 7rem 0;
  }

  &:last-child {
    margin: 0;
  }

  .post-title {
    margin-bottom: 0;
  }

  .post-data {
    color: $text-muted;
  }
}
