@import '../styles/variables';
@import '../styles/mixins';

.page-title {
  padding: 0 $page-padding-mobile;

  @include desktop {
    padding: 0;
  }
}

.post {
  background-color: $post;
  border-radius: $border-radius-mobile;
  backdrop-filter: blur(10px);

  @include desktop {
    border-radius: $border-radius;
  }

  &:not(:first-of-type) {
    margin: $page-padding-mobile 0;

    @include desktop {
      margin: $page-padding 0;
    }
  }

  &:last-child {
    margin: 0;
  }

  .title-container {
    border-bottom: 0.5px solid $text-muted;
    padding: $post-padding;
    gap: $post-padding;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include desktop {
      grid-template-columns: 1fr 3fr 6fr;
    }

    .date {
      color: $text-muted;

      @include desktop {
        text-align: center;
      }
    }
  }

  .content-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: $post-padding;
    padding: $post-padding;

    @include desktop {
      grid-template-columns: 2fr 3fr;
    }
  }

  .post-container {
    > *:first-child {
      margin-top: 0;
    }
  }
}
