// Color definitions
$dark: rgb(33, 26, 29);
$dark-1: rgba(255, 255, 255, 0.3);

$light: rgba(255, 255, 255, 1);
$light-muted: rgba(255, 255, 255, 0.5);

// $primary: rgba(218, 65, 103, 1);
$primary: rgba(255, 40, 130, 1);

// Color usement
$heading: $dark;
$text: $dark;
$text-muted: $dark;
$page: $dark;
$post: $dark-1;

// Fonts
$font-weight: 400;
$font-weight-fallback: 400;

// Sizes
$page-padding-top: 0;
$page-padding-bottom: 5rem;

$page-padding: 3rem;
$page-padding-mobile: 1rem;

$content-padding: $page-padding;
$content-padding-mobile: 0;

$post-padding: 1rem;

$padding-small: 0.5rem;
$page-width: 50rem;

$page-width-small: 40rem;
$page-width-wide: 85rem;

$sides-desktop: 7rem;
$sides-mobile: 2rem;

$max-width: $page-width;
$desktop-breakpoint: 55rem;

$sidebar-width: 12rem;

// Radiuses
$border-radius: 3px;
$border-radius-mobile: 0;

// Z-Indexes
$fixed-elements-z-index: 999;
