// Color definitions
$dark: rgba(34,	34,	34, 1);
$light: rgba(235, 235, 216, 1);
$light-muted: rgba(235, 235, 216, 0.5);

// Color usement
$text: $light;
$text-muted: $light-muted;
$page: $dark;

// Sizes
$page-padding: 3rem;
$padding-small: 0.5rem;
$page-width: 50rem;


$page-width-small: 40rem;
$page-width-wide: 85rem;

$sides-desktop: 7rem;
$sides-mobile: 2rem;

$max-width: $page-width;
$desktop-breakpoint: 55rem;


