@import '../styles/variables';

.header {
  padding: 1rem $page-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  z-index: $fixed-elements-z-index;

  .header-container {
    width: 100%;
    max-width: $page-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    .page-title {
      font-size: 2.2rem;
      margin: 0;
    }
  }
}

.main {
  padding: $page-padding-top $page-padding 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-container {
    width: 100%;
    max-width: $page-width;
  }
}


.footer {
  padding: $padding-small $page-padding $page-padding-bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-muted;

  .footer-container {
    width: 100%;
    max-width: $page-width;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
