@import '../styles/variables';

.header {
  padding: 0 $page-padding;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header-container {
    width: 100%;
    max-width: $page-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .page-title {
      font-size: 2.5rem;
    }
  }
}

.main {
  padding: 0 $page-padding $page-padding;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-container {
    max-width: $page-width;
  }
}


.footer {
  padding: $padding-small $page-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-muted;

  .footer-container {
    width: 100%;
    max-width: $page-width;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
